@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("/fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype"),
    url("/fonts/Ubuntu-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --inputFocus: hsl(243, 100%, 62%);
  --inputBorder: hsl(229, 24%, 87%);
  --background: hsl(215, 100%, 97%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu", sans-serif;
}

.customFocus:focus {
  border-color: var(--inputFocus) !important;
}

.back:hover {
  color: hsl(213, 96%, 18%) !important;
}

.next:hover {
  filter: brightness(1.5);
}

.plan:hover {
  border-color: hsl(243, 100%, 62%) !important;
}

.planNotClicked {
  border-color: hsl(229, 24%, 87%);
}

.planClicked {
  border-color: hsl(243, 100%, 62%) !important;
  background-color: hsl(217, 100%, 97%) !important;
}

.toggle {
  width: 48px;
  height: 24px;
  padding: 4px;
  background-color: hsl(213, 96%, 18%);
}

.toggle:before {
  width: 16px;
  background-color: white;
}

.toggle:checked {
  justify-items: end;
}

.checkboxAdd {
  accent-color: hsl(243, 100%, 62%) !important;
}

.checkboxBackground {
  background-color: hsl(243, 100%, 62%);
}

.change:hover {
  color: hsl(243, 100%, 62%) !important;
}

.borderStep4 {
  border-bottom: 1px solid hsl(229, 24%, 87%);
}
