@import "tailwindcss";

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("/fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype"),
    url("/fonts/Ubuntu-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  --background: hsl(215, 100%, 97%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu", sans-serif;
}
